.item-footer i{
    font-size: 50px;
}
.item-footer{
    gap: 20px;
}
.up-footer .container-lg{
    background-color: #AE1C9A;
}
.item-footer{
    padding: 20px  30px;
    color: #fff;
   font-family: jostSemi;
}
.fot-dwn{
    font-size: 14px;
    font-family: jostLight;
    font-weight: 900;
}
.up-footer{
    position: absolute;
    top: -15%;

}





footer{
    background-image: url(../../images/footer-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0px;
    position: relative;
    display: flex;
    justify-content: center;
}
.image-foot img{
width: 147px;
height: 32px;
}
.image-foot{
    margin-bottom: 70px;
}
ul li{
    margin-bottom: 15px;
}
.myList li a{
font-size: 16px;
color: #C8C8C8;
}
.head-foot-up{
    margin-bottom: 40px;
    color: #fff;
    font-size: 20px;
}
.myList li{
    color: #fff;
    font-family: jostMedium;
}
.myList li i{
    font-size: 30px;
}
.boldAdd{
    display: block;
    font-weight: 900;
}